.spotify {
    background-color:#1DB954;
    
}
nav.spotify {
    background-color:#1DB954;
    height:10vh;
}

.spot {
    color:#1DB954;
}

div.score {
    border: solid #1DB954 3px;
    border-radius:5px;
}

.score {
    border: solid #1DB954 5px;
    border-radius:5px;
}